*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ccc;
  color: #000;
  height: 60px;
  padding: 0 20px;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
 
}

.logo a {
  font-size: 24px;
  font-weight: bold;
  color: #000;
  text-decoration: none;
  margin-left: 40px;
}

.logo img{
  width: 40px;
  margin-left: 40px;
  margin-right: -20px;
  margin-top: -10px;
  border: 4px solid blue;
  border-radius: 50%;
  padding: 5px ;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-right: 60px;
}

.menu li {
  margin-right: 20px;
  font-size: 28px;
  font-weight: 600;
  
}

.menu a {
  color: #000;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.2s ease-in-out;
}

.menu a:hover {
  color: #fc6b4a;
}
.home{
  background-image: url('https://source.unsplash.com/1200x800/?water');
  width: 100vw;
  height: 91.6vh;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 40px;
 
}


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0px;
 
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding: 10px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 4px 8px 0 #ccc;
}

.card h2 {
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: 600;
  font-family: 'Times New Roman', Times, serif;
  color: #6b7280;
  line-height: 1.25rem;
}

.card p {
  font-size: 16px;
  margin-bottom: 10px;
}

.card img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.likes{
  display: flex;
  align-items: center;
  justify-content:flex-start;
  gap: 5px;
}

.likes i{
  font-size: 30px;
  color: rgb(162, 162, 238);
}

.likes h5{
  margin: 10px;
}
